@{
    ViewBag.Title = "ManageUsers";
}

<h2>Manage Users</h2>

<h1>HERE IS WHERE I WOULD LAY OUT MY UI THAT ALLOWED ME TO CHOOSE BOTH THE USERS ROLE AND PROJECTS...</h1>

@Html.ActionLink("Back To Dashboard", "Dashboard", "Home")